<p id="notice"><%= notice %></p>

<p>
  <b>[name:</b>
  <%= @staff.[name %>
</p>

<p>
  <b>Dob:</b>
  <%= @staff.dob %>
</p>

<p>
  <b>Gender:</b>
  <%= @staff.gender %>
</p>


<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
