<p id="notice"><%= notice %></p>

<p>
  <b>[name:</b>
  <%= @actor.[name %>
</p>

<p>
  <b>Dob:</b>
  <%= @actor.dob %>
</p>

<p>
  <b>Gender:</b>
  <%= @actor.gender %>
</p>


<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
