<h1>Listing directors</h1>

<%= render :partial => "shared/cast_search_partial", :locals => { :path => "/directors" } %>

<table>
  <tr>
    <th>Name</th>
    <th>Dob</th>
    <th>Gender</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @directors.each do |director| %>
  <tr>
    <td><%= director.name %></td>
    <td><%= director.dob ? director.dob.strftime("%m-%d-%Y") : '' %></td>
    <td><%= director.gender %></td>
    <td><%= link_to 'Show', director %></td>
    <td><%= link_to 'Edit', edit_director_path(director) %></td>
    <td><%= link_to 'Destroy', director, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Director', new_director_path %>
