<p id="notice"><%= notice %></p>

<p>
  <b>name:</b>
  <%= @director.name %>
</p>

<p>
  <b>Dob:</b>
  <%= @director.dob %>
</p>

<p>
  <b>Gender:</b>
  <%= @director.gender %>
</p>


<%= link_to 'Edit', edit_director_path(@director) %> |
<%= link_to 'Back', directors_path %>
