<p id="notice"><%= notice %></p>

<p>
  <b>name:</b>
  <%= @director.name %>
</p>

<p>
  <b>Dob:</b>
  <%= @director.dob ? @director.dob.strftime("%m-%d-%Y") : '' %>
</p>

<p>
  <b>Gender:</b>
  <%= @director.gender %>
</p>

<p>
  <b>Movies:</b>
  <%= @director.dvds ? @director.dvds.all.collect{|x| x.name}.join(", ") : '' %>
</p>

<%= link_to 'Edit', edit_director_path(@director) %> |
<%= link_to 'Destroy', @director, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', directors_path %>
