<%= form_for(@dvd) do |f| %>
  <% if @dvd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dvd.errors.count, "error") %> prohibited this dvd from being saved:</h2>

      <ul>
      <% @dvd.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
    <div class="field">
      <%= f.label :release_date %><br />
      <%= render :partial => "shared/date_select_partial", :locals => { :f => f, :date_label => "Release date" } %>
    </div>
  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_field :summary %>
  </div>
  <div class="field">
    <%= f.label :asin %><br />
    <%= f.text_field :asin %>
  </div>
  <div class="field">
    <%= f.label :director %><br />
    <%= collection_select :director, :id, Director.all, :id, :name%>
  </div>
  <div class="field">
    <%= f.label :actors %><br />
    <%= collection_select :actors, :ids, Actor.all, :id, :name, {:selected => @dvd.actors.collect {|x| x.id.to_i}}, {:multiple => true, :size => 10} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
