<p id="notice"><%= notice %></p>

<p>
  <b>name:</b>
  <%= @dvd.name %>
</p>

<p>
  <b>Release date:</b>
  <%= @dvd.release_date %>
</p>

<p>
  <b>Summary:</b>
  <%= @dvd.summary %>
</p>

<p>
  <b>Asin:</b>
  <%= @dvd.asin.empty? ? '' : (link_to @dvd.asin, "http://www.amazon.com/o/ASIN/" + @dvd.asin) %>
</p>

<p>
  <b>Director:</b>
  <%= @dvd.director ? @dvd.director.name : '' %>
</p>

<%= link_to 'Edit', edit_dvd_path(@dvd) %> |
<%= link_to 'Back', dvds_path %>
