<p id="notice"><%= notice %></p>

<p>
  <b>name:</b>
  <%= @dvd.name %>
</p>

<p>
  <b>Release date:</b>
  <%= @dvd.release_date ? @dvd.release_date.strftime("%m-%d-%Y") : '' %>
</p>

<p>
  <b>Summary:</b>
  <%= @dvd.summary %>
</p>

<p>
  <b>Asin:</b>
  <%= @dvd.asin.empty? ? '' : (link_to @dvd.asin, "http://www.amazon.com/o/ASIN/" + @dvd.asin) %>
</p>

<p>
  <b>Director:</b>
  <%= @dvd.director ? @dvd.director.name : '' %>
</p>

<p>
  <b>Cast:</b>
  <%= @dvd.actors ? @dvd.actors.all.collect{|x| x.name}.join(", ") : '' %>
</p>

<%= link_to 'Edit', edit_dvd_path(@dvd) %> |
<%= link_to 'Destroy', @dvd, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', dvds_path %>
